* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

header {
    width: 100%;
    height: auto;
    background-color: red;
}

main {
    width: 100%;
    height: 500px;
    background-color: aqua;
}

footer {
    width: 100%;
    height: 50px;
    background-color: green;
}